<article>
    <p>
        <label for="name">
            Nombre
        </label>

        <input 
        type="text" 
        id="name" 
        ng-model="viewCreate.playerInfo.name"
        >
       
    </p>
    <p>
        <label for="surname">
            Apellido
        </label>

        <input 
        type="text" 
        id="surname" 
        ng-model="viewCreate.playerInfo.surname"
        >
        
    </p>
    <p>
        <input 
        type="radio"
        id="avatar" 
        value="avatar1"
        ng-model="viewCreate.playerInfo.avatar"
        >
       
        <label for="avatar">
            Avatar1
        </label>
     
     <input 
        type="radio"
        id="avatar" 
        value="avatar2"
        ng-model="viewCreate.playerInfo.avatar"
        >
       
        <label for="avatar">
            Avatar2
        </label>
   
     <input 
        type="radio"
        id="avatar" 
        value="avatar3"
        ng-model="viewCreate.playerInfo.avatar" 
        >
       
        <label for="avatar">
            Avatar3
        </label>
    </p> 
    <p>
    </p>
    <p>
        <button ng-click="viewCreate.setPlayerInfo()">
            Empezar a jugar
        </button>
    </p>